<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dce.business.dao.order.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.dce.business.entity.order.OrderDetail">
    <id column="orderDetailId" jdbcType="INTEGER" property="orderdetailid" />
    <result column="orderId" jdbcType="INTEGER" property="orderid" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
   
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
  
    orderDetailId, orderId, goods_id, quantity, price, remark
  </sql>
  <select id="selectByExample" parameterType="com.dce.business.entity.order.OrderDetailExample" resultMap="BaseResultMap">

    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ct_orderdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ct_orderdetail
    where orderDetailId = #{orderdetailid,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ct_orderdetail
    where orderId = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    
    delete from ct_orderdetail
    where orderDetailId = #{orderdetailid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dce.business.entity.order.OrderDetailExample">
   
    delete from ct_orderdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dce.business.entity.order.OrderDetail">
    insert into ct_orderdetail (orderDetailId, orderId, goods_id, 
      quantity, price, remark)
    values (#{orderdetailid,jdbcType=INTEGER}, #{orderid,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{quantity,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dce.business.entity.order.OrderDetail">
  
    insert into ct_orderdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderdetailid != null">
        orderDetailId,
      </if>
      <if test="orderid != null">
        orderId,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderdetailid != null">
        #{orderdetailid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dce.business.entity.order.OrderDetailExample" resultType="java.lang.Long">
  
    select count(*) from ct_orderdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    
    update ct_orderdetail
    <set>
      <if test="record.orderdetailid != null">
        orderDetailId = #{record.orderdetailid,jdbcType=INTEGER},
      </if>
      <if test="record.orderid != null">
        orderId = #{record.orderid,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
   
    update ct_orderdetail
    set orderDetailId = #{record.orderdetailid,jdbcType=INTEGER},
      orderId = #{record.orderid,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      quantity = #{record.quantity,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DOUBLE},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dce.business.entity.order.OrderDetail">
  
    update ct_orderdetail
    <set>
      <if test="orderid != null">
        orderId = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where orderDetailId = #{orderdetailid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dce.business.entity.order.OrderDetail">
   
    update ct_orderdetail
    set orderId = #{orderid,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR}
    where orderDetailId = #{orderdetailid,jdbcType=INTEGER}
  </update>
  
  
	<insert id="insertPayDetail" parameterType="com.dce.business.entity.order.OrderPayDetail">
    insert into ct_order_pay_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        orderId,
      </if>
      <if test="accountType != null">
        accountType,
      </if>
      <if test="payAmt != null">
        payAmt,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid},
      </if>
      <if test="accountType != null">
        #{accountType},
      </if>
      <if test="payAmt != null">
        #{payAmt},
      </if>
      <if test="remark != null">
        #{remark},
      </if>
    </trim>
  </insert>
  
  <select id="selectPayDetailByOrderId" parameterType="java.lang.Integer" resultType="com.dce.business.entity.order.OrderPayDetail" >
  	select * from ct_order_pay_detail
  	where orderId = #{orderid,jdbcType=INTEGER}
  </select>
  
	<delete id="deletePayDetailByOrderId" parameterType="java.lang.Integer">
	    delete from ct_order_pay_detail
	    where orderId = #{orderid,jdbcType=INTEGER}
  </delete>
	
</mapper>