<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
        http://www.springframework.org/schema/jee 
        http://www.springframework.org/schema/jee/spring-jee-4.0.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-4.0.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task.xsd"
        
    default-lazy-init="false">
	<!-- ================The data source configuration start =========================== -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl"
			value="jdbc:mysql://${db.host}:3306/${db.dbname}?characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull&amp;noAccessToProcedureBodies=true&amp;allowMultiQueries=true" />
		<property name="user" value="${db.user}" />
		<property name="password" value="${db.pwd}" />
		<property name="initialPoolSize" value="1" />
		<property name="maxPoolSize" value="100" />
		<property name="minPoolSize" value="1" />
		<property name="acquireIncrement" value="3" />
		<property name="idleConnectionTestPeriod" value="180" />
		<property name="maxIdleTime" value="180" />
		<property name="autoCommitOnClose" value="false" />
		<property name="preferredTestQuery" value="select 1" />
		<property name="testConnectionOnCheckout" value="false" />
		<property name="testConnectionOnCheckin" value="true" />
		<property name="acquireRetryAttempts" value="30" />
		<property name="acquireRetryDelay" value="1000" />
		<property name="breakAfterAcquireFailure" value="false" />
		<property name="checkoutTimeout" value="30000" />
		<property name="automaticTestTable" value="test_c3p0" />
		<property name="maxStatements" value="0" />
		<property name="maxStatementsPerConnection" value="0" />
		<property name="numHelperThreads" value="3" />
		<property name="propertyCycle" value="300" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mapping/configuration.xml"></property>
		<property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage" value="com.dce.business.entity"/>
        <property name="mapperLocations">
            <list>
                <value>classpath*:/mapping/*/*.xml</value>
            </list>
        </property>
    </bean> 

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.dce.business.dao.**" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="awardService" class="com.dce.business.service.impl.award.AwardServiceImpl">
        <property name="awardCalculatorList">
            <list>
                <ref bean="areaAwardCalculator" />
                <ref bean="refereeAwardCalculator" />
                <ref bean="buyerAwardCalculator" />
                <ref bean="refereeUpgrade" />
            </list>
        </property>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
	<!-- ================The data source configuration end ============================== -->
	
</beans>