.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child,
.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child,
.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child,
.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child,
.table,
.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
/*
.table > thead > tr > th {
    padding: 8px 0;
}
*/
.box {
	margin-bottom: 20px;
	position: relative;
}
.box .box-content {
    padding: 10px;
    border: 1px solid #dddddd;
    background: white;
    display: block;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}
.box .box-content.box-no-padding {
    padding: 0;
}
.responsive-table {
    position: relative;
    overflow: hidden;
}
.responsive-table .scrollable-area {
	width: 100%;
	overflow: scroll;
	overflow-y: hidden;
}
.responsive-table table th,.responsive-table table td {
position: relative;
white-space: nowrap;
overflow: hidden;
}
.box-content.box-no-padding .table-striped th:first-child, .box-content.box-no-padding .table-striped td:first-child {
border-left: none;
}