<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
		http://www.springframework.org/schema/jee 
		http://www.springframework.org/schema/jee/spring-jee-4.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-3.0.xsd"
	default-lazy-init="false">
	<description>Spring scan</description>
	
	<!-- IOC注解 -->
	<context:component-scan base-package="com.dce">
	</context:component-scan>
	
	<task:annotation-driven />
	<task:executor id="taskExecutor" pool-size="15"/>

    <bean id="sysconfig"
        class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>file:${catalina.home}/conf/dce.properties</value>
            </list>
        </property>
    </bean>
    
    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器指定所上传文件的总大小不能超过200M。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="400000000" />
	</bean>
    
    
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="properties" ref="sysconfig" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
    </bean>
    
    <bean id="exceptionHandler" class="com.dce.business.common.exception.DCEExceptionHandler"/> 
    <bean id="springBeanUtil" class="com.dce.business.common.util.SpringBeanUtil"></bean>

	<import resource="classpath*:/config/spring-jdbc.xml" />
	<import resource="classpath*:/config/spring-redis.xml" />
</beans>